SemanticLearningModel/linear_init_exp/
SemanticLearningModel/linear_init_exp48rep/
SemanticLearningModel/relu_init_exp/
SemanticLearningModel/relu_init_exp48rep/
SemanticLearningModel/saved_input-outputs/
SemanticLearningModel/saved_weights/